@import url('./global.css');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling */
}

.popup-container {
    width: 350px;
    background: var(--card-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    max-width: 100%;
}

.popup-title {
    font-size: var(--font-size-large);
    margin-bottom: var(--margin);
    color: var(--text-color-primary);
    font-weight: bold;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin);
}

.toggle-container label {
    font-size: var(--font-size-normal);
    color: var(--text-color-primary);
}

#auto-login-toggle {
    width: 50px;
    height: 25px;
    background-color: var(--border-color);
    border-radius: 25px;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#auto-login-toggle:checked {
    background-color: var(--primary-color);
}

#auto-login-toggle:checked::before {
    transform: translateX(25px);
}

#auto-login-toggle::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.form-group {
    margin-bottom: var(--margin);
    text-align: left;
}

label {
    display: block;
    font-size: var(--font-size-small);
    color: var(--text-color-secondary);
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: var(--padding);
    font-size: var(--font-size-normal);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-top: 5px;
}

.btn {
    width: 100%;
    padding: var(--padding);
    background: var(--primary-color);
    color: #fff;
    font-size: var(--font-size-normal);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: var(--margin);
}

.btn:hover {
    background: var(--primary-color-hover);
}

.info-text {
    font-size: var(--font-size-small);
    color: var(--text-color-info);
    margin-top: 10px;
    line-height: 1.4;
}
